<ion-menu [content]="content">
    <ion-header class="logobgcolor">
        <h1>
            <font class="shadowed">MOTRInfo</font>
            <img src="assets/imgs/poring_panel_logo.png" style="display:block;margin:auto">
        </h1>
    </ion-header>

    <ion-content class="menustyle" padding>
        <div no-lines *ngFor="let p of pages">
            <button ion-button clear menuClose (click)="openPage(p)" class1="menuitems" [ngClass]="checkIfSelected(p) ? 'ms':'menuitems'">
                {{p.title}}
            </button>
        </div>
        <button ion-button clear (click)="ShowSubMenu()" class="menuitems">
            <font style="margin-right:10px">ТОПЫ </font>
            <ion-icon *ngIf="!showSubmenu" name="ios-arrow-forward"></ion-icon> 
            <ion-icon *ngIf="showSubmenu" name="ios-arrow-down"></ion-icon>                 
        </button>

        <div id="sidenav" *ngIf="showSubmenu">
            <button ion-button clear menuClose (click)="goToPage(1,'Топ Персонажей')" class="menuitems" [ngStyle]="checkIfSelectedForCustom(1)?menuItemSelecteStyle:menuItemStyle">
                    Топ персонажей                    
            </button>
            <button ion-button clear menuClose (click)="goToPage(2,'Топ Профессий')" class="menuitems" [ngStyle]="checkIfSelectedForCustom(2)?menuItemSelecteStyle:menuItemStyle">
                    Топ профессий
            </button>
            <button ion-button clear menuClose (click)="goToPage(3,'Топ Гильдий')" class="menuitems" [ngStyle]="checkIfSelectedForCustom(3)?menuItemSelecteStyle:menuItemStyle">
                    Топ гильдий
            </button>
        </div>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>