<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title class="centered_text">{{ searchCaption }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="isSearchBar" padding>
        <form #formData='ngForm'>
            <ion-card>
                <ion-card-header>
                    Тип поиска:
                </ion-card-header>
                <ion-card-content>
                    <ion-list radio-group [(ngModel)]="searchType" name="searchType">
                        <ion-item>
                            <ion-label>По имени монстра</ion-label>
                            <ion-radio value="1" checked></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>По имени предмета</ion-label>
                            <ion-radio value="2"></ion-radio>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-content>
                    <ion-list inset>
                        <ion-item style="border:1px solid lightgray">
                            <ion-input type="text" [(ngModel)]="searchPattern" name="searchPattern" clearInput></ion-input>
                        </ion-item>
                        <ion-item>
                            <button ion-button block style="font-size:16pt" large type="submit" (click)="doSearch()">Поиск</button>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </form>
    </div>

    <ion-list *ngIf="itemName != '' && isSearchList">
        <button ion-item *ngFor="let item of ajaxData" (click)="itemTapped(item, item.Name, 2)">
        <ion-icon item-start>
            <img src="{{item.Image}}">
        </ion-icon >
        {{item.Name}}<br>
        <small>{{item.Type}}</small>
      </button>
    </ion-list>

    <div *ngIf="errorMessage" padding [innerHTML]="errorMessage"></div>

    <div *ngIf="selectedItem" padding>
        <ion-slides>
            <ion-slide>
                <ion-list>
                    <ion-item>
                        <img src="{{ajaxData.monster_img}}">                         
                    </ion-item>
                    <ion-item>
                        Level: {{ajaxData?.maindata?.Level}}<br>
                        Scale: {{ajaxData?.maindata?.Scale}}<br>
                        Race: {{ajaxData?.maindata?.Race}}<br>
                        Element: {{ajaxData?.maindata?.Element}}<br>
                        HP: {{ajaxData?.maindata?.HP}}<br>
                        ATK: {{ajaxData?.maindata?.ATK}}<br>
                        DEF: {{ajaxData?.maindata?.DEF}}<br>
                        MDEF: {{ajaxData?.maindata?.MDEF}}<br>
                        EXP: {{ajaxData?.maindata?.EXP}}<br>
                        Job EXP: {{ajaxData?.maindata['Job EXP']}}<br>
                        Range: {{ajaxData?.maindata?.Range}}<br>
                    </ion-item>
                </ion-list>
            </ion-slide>
            <ion-slide>
                <h1>Slide 1</h1>
            </ion-slide>
            <ion-slide>
                <h1>Slide 1</h1>
            </ion-slide>
            <ion-slide>
                <h1>Slide 1</h1>
            </ion-slide>
            You navigated here from <b>{{selectedItem.Link}}</b>
        </ion-slides>
    </div>
</ion-content>