<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ searchCaption }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="isSearchBar" padding>
        <form #formData='ngForm'>
            <ion-card>
                <ion-card-header>
                    Тип поиска:
                </ion-card-header>
                <ion-card-content radio-group [(ngModel)]="searchType" name="searchType">
                    <ion-item>
                        <ion-label>По имени монстра</ion-label>
                        <ion-radio value="1" checked></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>По имени предмета</ion-label>
                        <ion-radio value="2"></ion-radio>
                    </ion-item>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-content>
                    <ion-list inset>
                        <ion-item style="border:1px solid lightgray">
                            <ion-input type="text" [(ngModel)]="searchPattern" name="searchPattern" clearInput></ion-input>
                        </ion-item>
                        <ion-item>
                            <button ion-button block large type="submit" (click)="doSearch()" color="main">Поиск</button>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </form>
    </div>

    <ion-list *ngIf="itemName != '' && isSearchList" style="background-color:red">
        <button ion-item *ngFor="let item of ajaxData" (click)="itemTapped(item, item.Name, 2)">
            <ion-icon item-start>
                <img src="{{item.Image}}">
            </ion-icon>
            {{item.Name}}
            <br>
            <small>{{item.Type}}</small>
        </button>
    </ion-list>

    <div *ngIf="errorMessage" padding [innerHTML]="errorMessage"></div>

    <div *ngIf="isMonsterSelected && loading_done">
        <ion-slides pager>
            <ion-slide class="cards_top_offset">
                <ion-card>
                    <ion-card-header>
                        Основные характеристики
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item>
                            <img src="{{ajaxData.monster_img}}">
                        </ion-item>
                        <ion-item>
                            <table border="0" width="100%">
                                <tr>
                                    <td>Level:</td>
                                    <td>{{ajaxData?.maindata?.Level}}</td>
                                </tr>
                                <tr>
                                    <td>Scale:</td>
                                    <td>{{ajaxData?.maindata?.Scale}}</td>
                                </tr>
                                <tr>
                                    <td>Race:</td>
                                    <td>{{ajaxData?.maindata?.Race}}</td>
                                </tr>
                                <tr>
                                    <td>Element:</td>
                                    <td>{{ajaxData?.maindata?.Element}}</td>
                                </tr>
                                <tr>
                                    <td>HP:</td>
                                    <td>{{ajaxData?.maindata?.HP}}</td>
                                </tr>
                                <tr>
                                    <td>ATK:</td>
                                    <td>{{ajaxData?.maindata?.ATK}}</td>
                                </tr>
                                <tr>
                                    <td>DEF:</td>
                                    <td>{{ajaxData?.maindata?.DEF}}</td>
                                </tr>

                                <tr>
                                    <td>MDEF:</td>
                                    <td>{{ajaxData?.maindata?.MDEF}}</td>
                                </tr>
                                <tr>
                                    <td>EXP:</td>
                                    <td>{{ajaxData?.maindata?.EXP}}</td>
                                </tr>
                                <tr>
                                    <td>Job EXP:</td>
                                    <td>{{jobExp}}</td>
                                </tr>
                                <tr>
                                    <td>Range:</td>
                                    <td>{{ajaxData?.maindata?.Range}}</td>
                                </tr>
                            </table>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <ion-slide class="cards_top_offset">
                <ion-card>
                    <ion-card-header>
                        Статы
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item>
                            <table border="0" width="100%">
                                <tr>
                                    <td>STR:</td>
                                    <td>{{ajaxData?.maindata?.STR}}</td>
                                </tr>
                                <tr>
                                    <td>AGI:</td>
                                    <td>{{ajaxData?.maindata?.AGI}}</td>
                                </tr>
                                <tr>
                                    <td>VIT:</td>
                                    <td>{{ajaxData?.maindata?.VIT}}</td>
                                </tr>
                                <tr>
                                    <td>INT:</td>
                                    <td>{{ajaxData?.maindata?.INT}}</td>
                                </tr>
                                <tr>
                                    <td>DEX:</td>
                                    <td>{{ajaxData?.maindata?.DEX}}</td>
                                </tr>
                                <tr>
                                    <td>LUK:</td>
                                    <td>{{ajaxData?.maindata?.LUK}}</td>
                                </tr>
                                <tr>
                                    <td>Speed:</td>
                                    <td>{{ajaxData?.maindata?.Speed}}</td>
                                </tr>
                            </table>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        Уязвимости
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item>
                            <table border="0" width="100%">
                                <tr>
                                    <td>Neutral:</td>
                                    <td>{{ajaxData?.maindata?.Vulnerables?.Neutral}}</td>
                                </tr>
                                <tr>
                                    <td>Water:</td>
                                    <td>{{ajaxData?.maindata?.Vulnerables?.Water}}</td>
                                </tr>
                                <tr>
                                    <td>Earth:</td>
                                    <td>{{ajaxData?.maindata?.Vulnerables?.Earth}}</td>
                                </tr>
                                <tr>
                                    <td>Fire:</td>
                                    <td>{{ajaxData?.maindata?.Vulnerables?.Fire}}</td>
                                </tr>
                                <tr>
                                    <td>Wind:</td>
                                    <td>{{ajaxData?.maindata?.Vulnerables?.Wind}}</td>
                                </tr>
                                <tr>
                                    <td>Poison:</td>
                                    <td>{{ajaxData?.maindata?.Vulnerables?.Poison}}</td>
                                </tr>
                                <tr>
                                    <td>Holy:</td>
                                    <td>{{ajaxData?.maindata?.Vulnerables?.Holy}}</td>
                                </tr>
                                <tr>
                                    <td>Shadow:</td>
                                    <td>{{ajaxData?.maindata?.Vulnerables?.Shadow}}</td>
                                </tr>
                                <tr>
                                    <td>Ghost:</td>
                                    <td>{{ajaxData?.maindata?.Vulnerables?.Ghost}}</td>
                                </tr>
                                <tr>
                                    <td>Undead:</td>
                                    <td>{{ajaxData?.maindata?.Vulnerables?.Undead}}</td>
                                </tr>
                            </table>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <ion-slide class="cards_top_offset">
                <ion-card>
                    <ion-card-header>
                        Дроп
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item>
                            <table border="0" width="100%">
                                <tr *ngFor="let item of ajaxData?.drop" (click)="searchByInnerItemId(item)">
                                    <td><img src="{{item.Image}}"></td>
                                    <td><button ion-button clear default>{{item.Name}}</button></td>
                                    <td>{{item.Chance}}%</td>
                                </tr>
                            </table>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <ion-slide class="cards_top_offset">
                <ion-card>
                    <ion-card-header>
                        Места обитания
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item>
                            <table border="0" width="100%">
                                <tr style="font-weight:bold">
                                    <td>Локация</td>
                                    <td>Количество</td>
                                    <td>Время респауна</td>
                                </tr>
                                <tr *ngFor="let item of ajaxData?.locations" (click)="itemTapped(item, item.Name, 2)">
                                    <td><button ion-button clear default>{{getMapFromLink(item.Name)}}</button></td>
                                    <td>{{item.Count}}</td>
                                    <td>{{item.Respawn}}</td>
                                </tr>
                            </table>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <ion-slide class="cards_top_offset">
                <ion-card>
                    <ion-card-header>
                        Скилы
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item>
                            <table border="0" width="100%">
                                <tr style="font-weight:bold">
                                    <td></td>
                                    <td>Название скила</td>
                                    <td>Уровень скила</td>
                                </tr>
                                <tr *ngFor="let item of ajaxData?.skills" (click)="itemTapped(item, item.Name, 2)">
                                    <img src="{{item.Image}}">
                                    <td><button ion-button clear default>{{getSkillFromLink(item.Skill)}}</button></td>
                                    <td>{{item.Level}}</td>
                                </tr>
                            </table>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>

    <div *ngIf="isItemSelected && loading_done">
        <ion-slides pager>
            <ion-slide class="cards_top_offset">
                <ion-card>
                    <ion-card-header>
                        Описание вещи
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <img src="{{ajaxData.item_img}}">
                            </ion-item>
                            <ion-item>
                                <table border="0" width="100%">
                                    <tr *ngIf="ajaxData?.wearable_info?.Class">
                                        <td>Class</td>
                                        <td>{{ajaxData?.wearable_info?.Class}}</td>
                                    </tr>
                                    <tr *ngIf="ajaxData?.wearable_info?.Slot">
                                        <td>Slot</td>
                                        <td>{{ajaxData?.wearable_info?.Slot}}</td>
                                    </tr>
                                    <tr *ngIf="ajaxData?.wearable_info?.ATK_MATK">
                                        <td>ATK/MATK</td>
                                        <td>{{ajaxData?.wearable_info?.ATK_MATK}}</td>
                                    </tr>
                                    <tr *ngIf="ajaxData?.wearable_info?.Weapon_Lvl">
                                        <td>Weapon level</td>
                                        <td>{{ajaxData?.wearable_info?.Weapon_Lvl}}</td>
                                    </tr>
                                    <tr *ngIf="ajaxData?.wearable_info?.Range">
                                        <td>Weapon range</td>
                                        <td>{{ajaxData?.wearable_info?.Range}}</td>
                                    </tr>
                                    <tr *ngIf="ajaxData?.wearable_info?.DEF">
                                        <td>DEF</td>
                                        <td>{{ajaxData?.wearable_info?.DEF}}</td>
                                    </tr>
                                    <tr *ngIf="ajaxData?.wearable_info?.DEF">
                                        <td>Sex</td>
                                        <td>{{ajaxData?.wearable_info?.Sex}}</td>
                                    </tr>
                                    <tr *ngIf="ajaxData?.wearable_info?.Base_Lvl">
                                        <td>Base level</td>
                                        <td>{{ajaxData?.wearable_info?.Base_Lvl}}</td>
                                    </tr>
                                    <tr *ngIf="ajaxData?.wearable_info?.Job" text-wrap>
                                        <td>Job</td>
                                        <td>{{ajaxData?.wearable_info?.Job}}</td>
                                    </tr>
                                    <tr>
                                        <td>Weight</td>
                                        <td>{{ajaxData?.weight}}</td>
                                    </tr>
                                    <tr>
                                        <td>Buy</td>
                                        <td>{{ajaxData?.buy}}</td>
                                    </tr>
                                    <tr>
                                        <td>Sell</td>
                                        <td>{{ajaxData?.sell}}</td>
                                    </tr>
                                    <tr>
                                        <td>Compound</td>
                                        <td padding>{{ajaxData?.compound}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" text-wrap>Description:<br>
                                            <font [innerHTML]="description" text-wrap></font>
                                        </td>
                                    </tr>
                                </table>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-slide>

            <ion-slide class="cards_top_offset">
                <ion-card>
                    <ion-card-header>
                        Выпадает из
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item>
                            <table border="0" width="100%">
                                <tr *ngFor="let item of ajaxData?.drop" (click)="searchByInnerMonsterId(getMonsterIdFromLink(item.monster_name),getMonsterNameFromLink(item.monster_name))">
                                    <td><button ion-button clear default>{{getMonsterNameFromLink(item.monster_name)}} 
                                    </button></td>
                                    <td>{{item.chance}}%</td>
                                </tr>
                            </table>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-slide>

        </ion-slides>
    </div>
</ion-content>