page-dbsearch {
    div.swiper-pagination {
        top: 10px;
        bottom: inherit;
    }
    div.swiper-pagination .swiper-pagination-bullet-active {
        background-color: color($colors, primary);
    }
    .cards_top_offset {
        margin-top: 30px;
    }
    .fixed-content {
        background-color: color($colors, bgcolor2);
    }
    .label,
    .input {
        color: color($colors, main);
    }
    td {
        display: table-cell;
        word-wrap: break-all;
    }
    th,
    td.center {
        text-align: center;
    }
    .card-content .item {
        padding: 0px;
    }
}